
body {
    font-family: "Lato", sans-serif;
    background: #fff;
    
    direction: rtl;
    text-align: right;
    padding: 0px;
    margin: 0px;
    color: #0C101A;
}
a{
    cursor: pointer;
    text-decoration: none;
}

h1{
    font-size: 1.2em !important;
    color:#f7811c; 
    padding-bottom: 0px;
    font-family: "Frutiger",'55 Roman';
}

p{
   text-align: justify;
    font-family: "Frutiger",'55 Roman';
    margin: 5px;
    width :100%;
    padding-bottom: 4rem;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 2px solid #CBCBCA;
    width:100%;
}

/*start header*/
.header {
    height: 15%;
    padding-top: 1%;
    background-color: #fff;
    box-shadow: 0px 8px 29px 0 rgba(36,43,49,0.05);
    top: 0;
    width: 100%;
    -moz-transition: top 0.5s ease;
    -o-transition: top 0.5s ease;
    -webkit-transition: top 0.5s ease;
    transition: top 0.5s ease;
}

.logo {
    display: block;
    display: block;
    width: 140px !important;
    height: auto !important;
    margin-right: 17px;
}

.regist{
    background: #f79818;
    padding: 1px 20px 10px 20px;
    border-radius: 50px;
    color: #fff;
    font-size: 15px;
    font-weight: 100;
    width: 108px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    display: -webkit-inline-box;
    display: inline-flex;
    cursor: pointer;
} 

.phone{
    padding: 1px 12px 7px 2px;
    border-radius: 50px;
    /*width: 108px;*/
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    display: -webkit-inline-box;
    display: inline-flex;
    background: none;
    color: #156495;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
}

.icon{
    color: #156495;
    font-weight: 400;
    font-size: 16px;
}


/*start right part*/
.enter{
    color: #7B7778;
    text-decoration: none;
    margin: 0px 20px 0px 20px;
}
.enter:hover , .lang:hover{
    text-decoration: none;
    color: #FAA62F;
}
.lang{
    color: #7B7778;
    text-decoration: none;
    margin-right: 0px !important;
    margin-left: 0px !important;
}
.openbtn{
    font-size: 26px;
    cursor: pointer;
    background-color: #ff000000;
    color: #FAA62F;
    padding: 10px 15px;
    border: none;
}

/*start sidenav*/

.side-nav{
    width:0;
    height:100%;
    height: 100%;
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    background-color: #156494;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
    z-index: 999999999;
    box-shadow: inset 0 0 0px 10px white;
}

.side-nav .close{
    position: absolute;
    right: 35px;
    top: 35px;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
} 

.side-nav ul{
    list-style: none;
    font-size: 35px;
    text-align: center;
    
}
.side-nav ul a{
    text-decoration: none;
    color: #818181;
}
.side-nav ul a:hover{
    color: #fff;
}
.side-nav ul li{
    display: block;
}    

.number{
    padding: 1px 12px 7px 2px;
    border-radius: 50px;
    /*width: 108px;*/
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    display: -webkit-inline-box;
    
    background: none;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
}
.phon-icon{
    padding: 1px 12px 7px 2px;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
}

.social-icons2{
    padding-inline-start: 10px;
}

.social-heading2 {
    position: relative;
    text-align: center;
    width:100%;
    margin:auto;

}
.side-nav .social-icons2 li {
    display: inline-block !important;
    text-align: center;
    font-size: 1.2rem;
}
.social-icons2 i {
    color: #fff;
    transition: all 265ms ease-out;
}

.txt2 {
    font-size: 15px;
    font-family: "Frutiger",'55 Roman';
    color:#fff;
}

/*end header*/

/*start page contant*/
.section1{
    width: 100%;
    position: relative;
    padding:8% 0 3% 0;
}
.section2{
    margin: 20px;
    background-color: #fff;


}

.wrapper-bx {
    -webkit-box-shadow: 0 5px 20px 0 rgba(0,0,0,0.05);
    box-shadow: 0 5px 20px 0 rgba(0,0,0,0.05);
    padding: 30px;
    float: right;
    width: 100%;
    height: 100%;
}
.row {
    margin: 0px !important;
}

/*start form*/
.form-box{
    width: 75%;
    margin: 0px;
    height: 30em;
    font-size: 13px;
    position: relative;
    padding: 40px 10px 0px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 10px -1px grey !important;
    border-radius: 15px 0 0px 15px;
    z-index:999999;
}

/*start index2 style*/
.contant{  /*for background*/
    margin-top: 0px;
    position:relative;
    height: 50em;
    background-image: url("../image/carBannr.png"), url("../image/circleBls.png"), url("../image/oldAssetCover.png");
    background-position:-20px 270px, 0px -65px, 0% 0%;
    background-repeat: no-repeat, no-repeat,no-repeat;
    background-size: 28%, contain ,contain;
    display: block;
}
.logo{
    padding-top: 25px;
}

.heading {
    position: absolute;
    /* top: 10px; */
    box-shadow: 4px -8px 10px 0px #80808057;
    background: rgb(233, 233, 233);
    color: #333;
    padding: 15px 15px 5px 15px;
    margin: 5px 0px 0px 0px;
    border-radius: 14px 5px 0 0;
    font-weight: bold;
    height: 70px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 47%; */
}
.heading span{
    color: #186a9e;
    font-size: 1.7rem;
    margin: 0 15px 0 0;
    font-weight: bold;
}
.contant-form{
    position: absolute;
    width: 90%;
    /*height: 60%;*/
    margin-top: 4rem;
}


.left-img {
    width: 30%;
    height: 20%;
    background:no-repeat center;
}

.slider{
    overflow-wrap: unset;
    overflow: hidden;
}

.slider .box{
    width: 15%;
    height: 5%;
    float: left;
    margin: 0 10px;
    
}


.row .row1{
    width: 45%;
    margin-right: 20px;
}
.col1{
    
    width: 35%;
    float: right;
    margin-right: 30px;
}

.col label{
    width: 80%;
    margin-right: 10px;
    font-size: 16px;
    font-weight: 800;
    color: #186A9E;
}
.col1 label {
    width: 80%;
    margin-right: 30px;
    font-size: 16px;
    font-weight: 800;
}
.check{
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: #fff;
    border:1px solid #333;
    border-radius: 50%;
    top:center;
}
.verify-input{
    width:50%;
    height: 100%;
    margin-right: 10px;
}
.refresh{
    color:#156494;
    font-size:14px;
    margin:3px;

}

.refresh:hover{
    cursor: pointer;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #156494 !important;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #156494;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #156494;
}
input[type=text] {

    z-index: 2;
    cursor: text;
    font-weight: 500 !important;
    color: #156494 !important;
    font-size: 1.2rem;
    border-radius: 5px;
    border:2px solid rgb(233, 233, 233)!important;
    padding-right: 10px;}

.inputaddon{
    
    position: absolute;
    left: 22px;
    top: 10px;
    font-size: 18px;
    color: #156494;

}
.form-control{
    border:2px solid rgb(233, 233, 233)!important;
    border-radius: 5px;
}

/*final part in form*/
.final-form{
    width: 96%;
    z-index: 99999999;
    position: absolute;
    top: 80%;
}

.final-txt{
    
    width: 60%;
    
    background: #7B7778;
    display: inline-block;
    border-radius: 0px 10px 10px 0px;
}
.final-txt p{
    padding: 20px !important;
    font-size: 16px;
    color: white;
    
}
.button{
    width:19%;
    background: #ffc672 !important;
    display: inline-block;
    height: 100%;
    left: 22%;
    margin-left: -1px;
    position: absolute;
    border-radius: 10px;
    text-align: center;
    padding-top: 3em;
    font-size: 16px;
    color: #fff;
}

.checkbox{
        
    position: absolute;
    top: 25px;
    right: 8px;
    width: 15px;
    height: 15px;
}
/*start footer*/

.footer{
    position: relative;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.05);
    height: 9em;
    background: #E3E7E9;
    overflow: hidden;
    width: 100%;
   
}


.icons {
    text-align: center;
    justify-content: center;
    display: inline-flex;
    width:100%;
    margin:auto;
}

.links-list {
    list-style: none;
    padding-inline-start: 10px !important;
    width: 100%;
    text-align: center;
    margin:auto;
    
}
.links-list li{
    display: inline-block;
}
.links-list li a {
    color: #0c101a;
    font-size: 14px;
    font-weight: 600;
    transition: all 0.2s;
    text-decoration: none;
}
.links-list li a:hover{
    color: #FAA62F;
}
.links-list li:not(:last-child) ::after {
    content: "|";
    margin: 0 5px;
    color: #888;
}

.all-rights{
    font-family: "Frutiger",'55 Roman';
    text-align: center;
    font-size: .9em;
}
.social-heading {
    position: relative;
    text-align: center;
    margin-bottom: 15px;
    width:100%;
    margin:12px auto;

}
.social-heading::after {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 50px;
    height: 1px;
    background: gray;
    left: 50%;
    transform: translateX(-50%);
}


.txt {
    font-size: 15px;
    font-family: "Frutiger",'55 Roman';
    color: #186A9E;
}

.social-icons li {
    display: inline-block;
    margin: 0 3px;
    position: relative;
    font-size: 1.6rem;
}
.social-icons a.in:before {
    background: #0077b5;
}
.social-icons a.st:before {
    background: #e1306c;
}
.social-icons a.fb:before {
    background: #3b5998;
}
.social-icons a.tw:before {
    background: #1da1f2;
}
.social-icons a:before {
    content: " ";
    width: 30px;
    height: 30px;
    display: block;
    border-radius: 10%;
    transition: all 265ms ease-out;
}
.social-icons li a:hover .social-icons a:before{
    
    background: #3b5998;
    transform: scale(2,3);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
}
.social-icons i {
    color: #fff;
    position: absolute;
    top: 7px;
    left: 7px;
    right: 7px;
    bottom: 7px;
    transition: all 265ms ease-out;
}

/*start media*/
@media screen and (min-width: 64em){
.txt-md {
    font-size: 16px;
}
.inactive.active.md-ver-spc {
    padding: 80px 0px;
}
.wrapper-bx {
    padding: 30px;
}
.contain{
height: 500px;
}
}
@media screen and (min-width: 40em){
.txt-md {
    font-size: 18px;
}
.inactive.active.md-ver-spc {
    padding: 60px 0px;
}
.wrapper-bx {
    padding: 10px;
}
}

/*start framwork*/
.container{
    width:90%;
    margin: auto;
}
.clearfix{
    clear: both;
}
.left{
    width: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    text-align: left;
    float:left;
}

.right{
   
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
    padding-left: 40px;
}
.rotate{
    transform: rotate(-50deg);
}

.col{
    float: left;
    width: 30%;
    margin: 2% 1.5%;
}
.row{
    width:100%;

}